MONGO_URI=mongodb://localhost:27017/datingapp

REDIS_URL=redis://localhost:6379

CLOUD_NAME=your_cloudinary_name
CLOUD_API_KEY=your_cloudinary_key
CLOUD_API_SECRET=your_cloudinary_secret


PORT=3000
FRONTEND_URL=http://localhost:5173

ACCESS_SECRET=your_super_secret_access_key_here
REFRESH_SECRET=your_super_secret_refresh_key_here

GOOGLE_CLIENT_ID=your_google_oauth_client_id_here

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password
SMTP_FROM="Dating App" <noreply@datingapp.com>
